* {
    margin: 0;
}

body {
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(245, 245, 245);
    color: rgb(43, 43, 43);
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}


.banner h1,
.banner h2 {
    font-family: 'Smythe', cursive;
    margin-left: 3rem;
}
.banner h1 {
    font-size: 2.4375em;
    padding-top: 2rem;
}
.banner h2 {
    font-size: 1.4em;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.banner {
    color: rgb(223, 217, 217);
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 167px; */
    border-radius: 5px 5px 0 0;
    margin-bottom: 1rem;
}

.menu {
    margin: 0 1em;
    padding-bottom: 1em;
    display: grid;
}

.food-item {
    margin-top: 2rem;
    /* padding-bottom: 1.5rem; */
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 25% 1fr 20%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "item-emoji item-name        add-item"
        "item-emoji item-description add-item"
        "item-emoji item-price       add-item"
    ;
}

.item-emoji {
    grid-area: item-emoji;
    font-size: 4.92rem;
    text-align: center;
}

.item-name {
    grid-area: item-name;
}

.item-ingredients {
    grid-area: item-description;
}

.item-price {
    grid-area: item-price;
}

.add-item {
    grid-area: add-item;
    place-self: center;
}
.add-item:hover {
    filter: brightness(50%);
    cursor: pointer;
}

footer {
    margin: 2.4rem 1em 0 1em;
}

footer h1 {
    font-family: 'Smythe', cursive;
    font-size: 1.6rem;
    text-align: center;
}

footer .order-items {
    margin-bottom: 1rem;
}

footer .order-total {
    border-top: 2px solid black;
    margin-top: 1.6rem;
    padding: 1rem 0;
}

.added-item,
.order-total {
    display: grid;
    grid-template-columns: 35% 1fr 20%;
    align-items: center;
}


.order-item {
    grid-column: 1/2;
}

.order-remove-item {
    grid-column: 2/3;
    font-size: .8em;
    color: rgba(65, 65, 65, 0.682);
}

.order-item-price {
    grid-column: 3/4;
    justify-self: end;
}

.order-total {
    grid-column: 1/4;
}
.order-total h1 {
    grid-column: 1/2;
}
.order-total .total-price {
    grid-column: 3/4;
    justify-self: end;
}
.order-total #order-btn {
    grid-column: 1/4;
}

.order-total #order-btn,
.pay-btn {
    place-self: center;
    background-color: #16DB99;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    height: 3.6rem;
    border: none;
    border-radius: 5px;
    margin-top: 1.6rem;
    cursor: pointer;
}
.pay-btn {
    margin-top: 1.6rem;
}

.order-total #order-btn:hover,
.pay-btn:hover {
    font-size: 1.4rem;
}

.modal {
    margin: auto auto;
    padding-bottom: 1rem;
    border: 0;
    max-width: 400px;
    min-width: 300px;
}

.modal h1 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 1.2em auto;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input[type="text"] {
    padding: 1em 1em;
    font-size: 1em;
}

.order-complete {
    padding: 1rem;
}
.order-complete h2 {
    padding: 2rem;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Smythe', cursive;
    color: #065F46;
    background-color: #ECFDF5;

}


/* Utility */
.hidden {
    display: none;
}